In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing

In [2]:
df1=pd.read_csv('Placement.csv')
df1.head()

,Age,Gender,Stream,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
0,22,Male,Electronics And Communication,1,8,1,1,1
1,21,Female,Computer Science,0,7,1,1,1
2,22,Female,Information Technology,1,6,0,0,1
3,21,Male,Information Technology,0,8,0,1,1
4,22,Male,Mechanical,0,8,1,0,1

In [3]:
columns=["Internships","CGPA","HistoryOfBacklogs"]
df=df1[columns]
df

      Internships  CGPA  HistoryOfBacklogs
0               1     8                  1
1               0     7                  1
2               1     6                  0
3               0     8                  1
4               0     8                  0
...           ...   ...                ...
2961            0     7                  0
2962            1     7                  0
2963            1     7                  0
2964            1     7                  0
2965            0     8                  0

[2966 rows x 3 columns]

In [4]:
x = df
y = df1["PlacedOrNot"]
print("x shape is",x.shape)
print("y shape is",y.shape)

x shape is (2966, 3)
y shape is (2966,)

In [5]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.9,test_size=0.1,stratify=y)

In [6]:
print("x_train shape is",x_train.shape)
print("x_test shape is",x_test.shape)
print("y_train shape is",y_train.shape)
print("y_train shape is",y_test.shape)

x_train shape is (2669, 3)
x_test shape is (297, 3)
y_train shape is (2669,)
y_train shape is (297,)

In [7]:
print(y.mean(),y_train.mean(), y_test.mean())

0.552596089008766 0.5526414387411015 0.5521885521885522

In [8]:
display(x_train.dtypes)

Internships          int64
CGPA                 int64
HistoryOfBacklogs    int64
dtype: object

In [9]:
display(y_train.dtypes)

dtype('int64')

In [10]:
class SigmoidNeuron:
    def __init__(self, learning_rate=0.01, iterations = 1000):
        self.b = None   #bias
        self.W = None
        self.lr = learning_rate
        self.iters = iterations
        self.errorPerItr = None
        
    def sigmoid_func(self,power):
        #sigmoid function always returns output in range 0 to 1
        return 1.0/(1.0 + np.exp(-power))
    
    def predict(self, X):
        y_pred = []
        for index in range(len(X)):
            x=X.iloc[index]
            linear_output = np.dot(x, self.W.T) + self.b  #we got the exponent
            y_predicted = self.sigmoid_func(linear_output)
            y_pred.append(y_predicted)
        return y_pred
        
    
    #sigmoid neuron needs a principled learning algorithm for learning the values of W and B
    def gradientDescent(self, X, Y):
        self.b = 0
        n_features = X.shape[1]
        self.W = np.zeros(n_features)
        
        #ensure that y is 0 or 1
        y_ = np.array([1 if i>0 else 0 for i in Y])
        
        self.errorPerItr = []
        
        for itr in range(self.iters):
            # In every epoch we need to care about Weights of next epoch
            # W' = W - lr * grad(W)
            # b' = b - lr* grad(b)
            # So In each epoch we calculate the gradient
            grad_w = 0
            grad_b = 0
            loss = 0
            for index in range(len(X)):
                x=X.iloc[index]
                linear_output = np.dot(x, self.W) + self.b 
                y_predicted = self.sigmoid_func(linear_output)
                fx = y_predicted
                
                y= Y.iloc[index]
                grad_w += (fx - y)*fx*(1-fx)*np.dot(np.ones(n_features), x)
                grad_b += (fx - y)*fx*(1-fx)
                
                #for each epoch we will calculate the loss
                loss += (fx - y)**2
            self.errorPerItr.append(0.5 * loss)
            print("L: ", 0.5 * loss)
            
            #calculate new W and b
            for i in range(n_features): # since W is a vector
                self.W[i] -= self.lr*grad_w
            self.b -= self.lr*grad_b    # b is a scalar
            print("w: ", self.W)
            print("B: ", self.b)

In [11]:
sigModel = SigmoidNeuron(learning_rate = 0.01, iterations=10)
sigModel.gradientDescent(x_train,y_train)

L:  333.625
w:  [5.09125 5.09125 5.09125]
B:  0.35125
L:  596.999999999799
w:  [5.09125 5.09125 5.09125]
B:  0.3512499999979857
L:  596.999999999799
w:  [5.09125 5.09125 5.09125]
B:  0.35124999999597134
L:  596.999999999799
w:  [5.09125 5.09125 5.09125]
B:  0.351249999993957
L:  596.999999999799
w:  [5.09125 5.09125 5.09125]
B:  0.3512499999919427
L:  596.999999999799
w:  [5.09125 5.09125 5.09125]
B:  0.35124999998992834
L:  596.999999999799
w:  [5.09125 5.09125 5.09125]
B:  0.351249999987914
L:  596.999999999799
w:  [5.09125 5.09125 5.09125]
B:  0.3512499999858997
L:  596.999999999799
w:  [5.09125 5.09125 5.09125]
B:  0.35124999998388534
L:  596.999999999799
w:  [5.09125 5.09125 5.09125]
B:  0.351249999981871

In [12]:
def accuracy(y_testing, y_pred):
    accuracy = np.sum(y_testing == y_pred) / len(y_testing)
    return accuracy

In [13]:
prediction = sigModel.predict(x_test)
print("Sigmoid Classification accuracy is: ",accuracy(y_test, prediction))

Sigmoid Classification accuracy is:  0.468013468013468